body {
  padding: 20px;
  font-family: Arial;
  background: #f2f2f2;
}

#productDetails {
  display: flex;
  gap: 30px;
  background: white;
  padding: 20px;
}

#btn2 {
    font-size: 20px;
    padding: 3px 4px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: rgb(130, 223, 227);
    margin: 2px;
}
