* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  padding: 20px;
  background: #2b7275;
}

h1 {
  margin-bottom: 20px;
}

.search-box {
  margin-bottom: 20px;
  position: relative;
}

.search-box input {
  margin: 8px 0;
  padding: 8px;
  width: 250px;
}

.search-box button {
  padding: 9px 15px;
  cursor: pointer;
}

.suggestions {
  background: white;
  border: 1px solid #ccc;
  max-width: 250px;
  position: absolute;
  top: 70px;
  z-index: 10;
}

.suggestions div {
  padding: 8px;
  cursor: pointer;
}

.suggestions div:hover {
  background-color: #f0f0f0;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
    background-color: rgb(98, 233, 238);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  background-color: aquamarine;
}

.price {
  color: green;
  font-weight: bold;
  margin-top: 8px;
}

#bagbutton,
#wishlistbutton {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  margin-right: 10px;
}

#bagbutton {
  background-color: green;
}

#wishlistbutton {
  background-color: blue;
}
