* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  padding: 20px;
  background: #2b7275;
}

h1 {
  margin-bottom: 20px;
}

.search-box {
  margin-bottom: 20px;
  position: relative;
}

.search-box input {
  padding: 8px;
  width: 250px;
}

.search-box button {
  padding: 9px 15px;
}

.suggestions {
  background: white;
  border: 1px solid #ccc;
  max-width: 250px;
  position: absolute;
  top: 60px;
}

.suggestions div {
  padding: 8px;
  cursor: pointer;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: rgb(98, 233, 238);
  padding: 15px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.price {
  color: green;
  font-weight: bold;
}
